$white: #ffffff;
$black: #000000;
$pink: #fe7865;
$orange: #f17d4b;
$dark: #141517;
$darkblue: #2c2e3f;
$grey: #d7d9df;
$bg-grey: #dadada;
$bg-link: #fbf8f8;
$link-main: #48494d;

$tablet: 1023px;
$mobile: 767px;
